@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro');

html,
body,
section,
p,
header,
nav,
footer,
div,
article,
aside,
ol,
ul,
li,
h1,
h6 {
	box-sizing: border-box;
	font-family: 'Kantumruy Pro';
}


h1{
  text-align: center;
  font-size: 3rem;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #b7b6b6;
  transform: scale(1.05);
}

body {
  background-color: #FFE5D1;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
/* INDEX */
.index{
  text-align: center;

}

.index a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}

.index button {
  background-color: #E4994D;
  border-radius: 1rem;
  padding: 1rem;
}

.index button:hover {
  background-color: #c68747;
  cursor: pointer;
}

.index img {
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem;
  position: relative;
  animation: animate-me 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animate-me {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}

/* SEARCH */
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header button{
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  border: none;
  background: none;
}

.header button a {
  font-size: 16px;
}

.header button a:hover{
  color: #b7b6b6;
  cursor: pointer;
  transform: scale(1.05);
}

.ingredient-label {
  text-align: center;
  display: block;
}

.search{
  text-align: center;
  margin-top: -15px;
}

.search img{
  width: 3rem;
  position: relative;
  top: 1rem;
}

.search img:hover{
  scale: 1.1;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.search input[type="text"]{
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.submit{
  text-align: center;
  padding-top: 0.5rem;
}


.recipe-button{
  padding: 10px 20px;
  background-color: #E4994D;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin: 0px auto;
}

.recipe-button a{
  color: black;

}

.fridgeBtn{
  margin: 0px auto;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.recipe-button:hover, .fridgeBtn:hover {
  background-color: #D7873B;
  cursor: pointer;
  transform: scale(1.05);
}

.generate{
  padding: 0.5rem;
  background-color: #E4994D;
  color: black;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  width: 15rem;
  align-items: center;
}

.generate:hover{
  background-color: #c68747;
  transform: scale(1.05);
  cursor: pointer;
}

.results ul {
  list-style-type: none;
  display: contents;
}

.recipe {
  border-bottom: 1px solid black;
  padding: 25px;
}

.meal-name {
  color: black;
  font-size: 22px;
}

.results {
  text-align: center;
}

.recipe-wrapper img {
  max-width: 18rem;
}

/* LOGIN */
.login{
  display: flex;
  flex-direction: column;
}

.login input[type="text"], .login input[type="password"]{
  width: 10rem;
}

.login input[type="submit"]{
  width: 5rem;
}

/* REGISTER */
.register{
  display: flex;
  flex-direction: column;
}

.register input[type="text"], .register input[type="password"]{
  width: 10rem;
}

.register input[type="submit"]{
  width: 5rem;
}

