<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\style.css">
  <title>Login</title>
</head>
<body>
  <h1><a href="/search">SnapDish</a></h1>
  <div class="login">
    <label for="username">Username:</label>
    <input id="username" type="text">
    <label for="password">Password:</label>
    <input id="password" type="password">

    <a href="/register">Not a user? Register Here</a>

    <input type="submit" value="Log In">
  </div>
</body>
</html>