<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  <title>Recipe Search</title>
</head>
<body>
    <div class="header">
      <h1><a href="/search">SnapDish</a></h1>
      <button class="login-btn"><a href="/login">Log In</a></button>
    </div>

    <form class="form" action="/search" method="post">
      <label class="ingredient-label" for="ingredient">Enter an Ingredient:</label>

      <div class="search">
        <input type="text" name="prompt" id="prompt" placeholder="e.g. chicken, potatoes, garlic">
        <a href="capture.html"><img src="{{ url_for('static', filename='/css/camera.png') }}" alt=""></a>
      </div>

      <div class="submit">
        <input class="generate" type="submit" value="Generate">
      </div>
    </form>

    <div class="recipe-wrapper">
      <h2>{{ name }}</h2>

      <img src="{{ image }}" alt="A picture of {{ name }}">

      <!-- If user is logged in, show fridge button :) -->
      {% if current_user.is_authenticated %}
      <form action="{{ url_for('add_to_fridge', meal_id=id, meal_name=name|urlencode, meal_image=image|urlencode) }}" method="post">
        <button type="submit">Add to fridge</button>
      </form>
      {% endif %}
      

    
    
    
      <h3>Ingredients</h3>
      <ul>
        {% for ingredient in ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>

      <h3>Instructions</h3>
      <p>{{ instructions }}</p>
    </div>
</body>
</html>