<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\style.css">
  <title>Register</title>
</head>
<body>
  <h1><a href="search.html">SnapDish</a></h1>

  <div class="register">
    <label for="email">Email:</label>
    <input id="email" type="text" placeholder="someone@gmail.com">
    <label for="username">Username:</label>
    <input id="username" type="text">
    <label for="password">Password:</label>
    <input id="password" type="password">

    <input type="submit" value="Register">
  </div>
</body>
</html>