<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\style.css">

  <!-- google icons api -->
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  </head>
  

  <title>Recipe Search</title>
</head>
<body>
    <div class="header">
      <a href="/search" id="snapdish-search-txt"><span><img src="static\css\logo.png" alt="" class="search-logo"></span>SnapDish</a>

      {% if current_user.is_authenticated %}
      <span class="username welcome-text">Welcome, {{ current_user.username }}</span>
        <div class="right-links">
          <a href="{{ url_for('dashboard') }}">My Fridge</a>
          <a href="{{ url_for('logout') }}">Log out</a>
        </div>
      {% else %}
      <a href="/login" class="login-btn right-links">Log In</a>
      {% endif %}
    </div>

    <nav class="navbar">
      <a href=""><span class="material-symbols-outlined icon">home</span>Home</a>
      <a href=""><span class="material-symbols-outlined icon">group</span>About Us</a>
      <a href=""><span class="material-symbols-outlined icon">storefront</span>Shop</a>
      <a href=""><span class="material-symbols-outlined icon">contact_support</span>Contact</a>
    </nav>

    <form class="form" action="/search" method="post">

      <label class="ingredient-label" for="ingredient">Enter an Ingredient:</label>

      <div class="search">
        <input type="text" name="prompt" id="prompt" placeholder="e.g. chicken">
        <a href="capture.html"><img src="static\css\camera.png" alt=""></a>
      </div>

      <div class="submit">
        <input class="generate" type="submit" value="Generate">
      </div>
    </form>

    <div class="results">
      {% if meal_ids %}
      <h1>Recipes:</h1>
      <ul>
        {% if meal_ids|length >= 5 %}
          {% for i in range(5) %}
              <li class="recipe">
                  <a class="meal-name" href="{{ url_for('recipe', id=meal_ids[i]) }}">{{ meal_names[i] }}</a><br>
                  <a href="{{ url_for('recipe', id=meal_ids[i]) }}">view full recipe</a>
              </li>
          {% endfor %}
        {% else %}
          {% for i in range(meal_ids|length) %}
          <li class="recipe">
            <a class="meal-name" href="{{ url_for('recipe', id=meal_ids[i]) }}">{{ meal_names[i] }}</a><br>
            <a href="{{ url_for('recipe', id=meal_ids[i]) }}">view full recipe</a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
      {% else %}
            {% if no_results %}
            <p class = "noresults" >{{ no_results }}</p>
          {% else %}
            <!-- Display the meal results here -->
            {% for meal_name in meal_names %}
              <p>{{ meal_name }}</p>
            {% endfor %}
          {% endif %}
      {% endif %}
    </div>

</body>
</html>