<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\style.css">
  <script defer src="static\script.js"></script>
  <script src="https://kit.fontawesome.com/c31e4ff6de.js" crossorigin="anonymous"></script>
  <title>Recipe Search</title>
</head>
<body>
    <div class="header">
      <h1><a href="/search">SnapDish</a></h1>
      <button class="login-btn"><a href="/login">Log In</a></button>
    </div>

    <form class="form" action="/search" method="post">
      <label class="ingredient-label" for="ingredient">Enter an Ingredient:</label>

      <div class="search">
        <input type="text" name="prompt" id="prompt" placeholder="e.g. chicken, potatoes, garlic">
        <a href="capture.html"><img src="static\css\camera.png" alt=""></a>
      </div>

      <div class="submit">
        <input class="generate" type="submit" value="Generate">
      </div>
    </form>

    <div class="results">
      {% if results %}
      <h2>Recipes:</h2>
        <ul>
            {% for meal in results %}
              <li class="recipe">
                <a class="meal-name" href="#">{{ meal }}</a><br>
                <a href="#">view full recipe</a>
              </li>
            {% endfor %}
        </ul>
      {% else %}

      {% endif %}
    </div>

</body>
</html>