<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\style.css">
  <title>Recipe Search</title>
</head>
<body>
    <div class="header">
      <h1><a href="search.html">SnapDish</a></h1>
      <button><a href="login.html">Log In</a></button>
    </div>

    <form class="form" action="/search" method="post">
      <label class="ingredient-label" for="ingredient">Enter Ingredients:</label>

      <div class="search">
        <input type="text" name="prompt" id="prompt" placeholder="e.g. chicken, potato, garlic">
        <a href="capture.html"><img src="static\css\camera.png" alt=""></a>
      </div>

      <div class="submit">
        <input class="generate" type="submit" value="Generate">
      </div>
    </form>

    {% for meal in results %}
      <p>{{ meal["strMeal"] }}</p>
    {% endfor %}

</body>
</html>